.navbar {
  height: 80px;
  width: 100vw;
  background-color: #062440;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  flex-direction: row;
  z-index: 10;
  position: fixed;
  box-sizing: border-box;
  color: white;
}

.logo {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

.side-panel-container {
  width: 100%;
  background-color: #062440;
  color: white;
  position: fixed;
  right: 0;
  top: 80px;
  z-index: 1;
  transform: translateX(100%);
  transition: all 0.6s ease-in-out;
}

.visible {
  transform: translateX(0);
}

.list-menu > a {
  padding: 10px;
  width: 100%;
  display: block;
  color: white;
  text-decoration: none;
  font-family: "calibri-regular";
}
