---
import "./GlobalStyles.astro";
---

<div id="container-espaco-psico" class="container global-padding">
  <h2 class="text-title header voga-font-header-2">
    Estas são as características essenciais do espaço psicoterapêutico que
    ofereço:
  </h2>
  <div class="espaco-psico-list text">
    <div>
      <b>➜</b> Encontro genuíno e expressivo entre paciente e psicólogo - toda emoção
      é bem-vinda de ambos os lados;
    </div>

    <div>
      <b>➜</b> Aceitação e liberdade para você se expressar do seu modo mais autêntico
      de ser;
    </div>

    <div>
      <b>➜</b> Escuta ativa e diálogo compreensivo direcionados para o entendimento
      do seu modo único de significar a realidade;
    </div>

    <div><b>➜</b> Ausência de julgamentos e preconceitos;</div>

    <div>
      <b>➜</b> Sigilo profissional - tenho o compromisso ético de zelar pela privacidade
      das informações que você partilha comigo;
    </div>

    <div>
      <b>➜</b> Acolhimento, análises e orientações fundamentados em conhecimentos
      técnico-científicos e no código de ética da profissão.
    </div>
  </div>
</div>

<style>
  #container-espaco-psico {
    background-color: #ffe255;
  }

  .header {
    font-size: 15pt;
    text-align: center;
  }

  .espaco-psico-list {
  }

  .espaco-psico-list div {
    margin-bottom: 18px;
  }
</style>
