---
import logo from "../images/logo1.png";
import "./GlobalStyles.astro";
import icon from "../images/icon.png";
---

<div id="container-rodape" class="text">
  <div class="voga-font-header-2 footer-message">
    Desvelando sentidos e construindo novos modos de ser [...]
  </div>
  <div class="row-2">
    <div class="footer-text social-media">
      <div>
        <img class="psico-icon" src={icon.src} alt={"logo"} />
        <span>
          <div>CRP: 06/208573</div>
          <div>Rafael Souza Pinho da Silva</div>
        </span>
      </div>

      <div>
        <a href="https://wa.me/5511965665977"
          ><i class="fa fa-whatsapp icon"></i>(11) 96566-5977</a
        >
      </div>
      <div>
        <a
          href="https://www.instagram.com/psi.rafaelpinho/"
          target="_blank"
          rel="noopener noreferrer"
          ><i class="fa fa-instagram icon"></i>@psi.rafaelpinho</a
        >
      </div>
      <div>
        <a
          href="https://www.linkedin.com/in/psirafaelpinho/"
          target="_blank"
          rel="noopener noreferrer"
          ><i class="fa fa-linkedin-square icon"></i>psirafaelpinho</a
        >
      </div>
    </div>
    <div class="menu-section footer-text">
      <span><b>NAVEGUE PELO SITE</b></span>
      <br />
      <a href="#psicoterapia"> Psicoterapia </a>
      <a href="#orientacao"> Orientação Profissional </a>
      <a href="#atendimento"> Atendimentos LGBTQIAPN+ </a>
      <a href="#sobre-mim"> Sobre Mim </a>
      <a href="#book"> Adquira meu livro! </a>
    </div>
    <img class="logo-image-footer" src={logo.src} alt={"logo"} />
  </div>
</div>

<style>
  #container-rodape {
    /* background-color: #062440; */
    background-color: #062440;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "calibri-regular";
    padding: 20px 12%;
  }
  .logo-image-footer {
    max-width: 200px;
    height: fit-content;
    margin-right: 20px;
  }
  .row-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .menu-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  .footer-message {
    text-align: center;
    font-weight: normal;
    margin-bottom: 40px;
    font-size: 16pt;
  }
  .footer-text {
    font-family: "calibri-regular";
    font-size: 20px;
  }

  .footer-text > div > a,
  .footer-text > div {
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  .psico-icon {
    width: 28px;
    height: 28px;
    display: block;
  }

  .icon {
    font-size: 28px;
  }
  .menu-section {
  }
  .menu-section > a {
    text-decoration: none;
    margin-bottom: 5px;
    color: white;
    position: relative;
    text-decoration: none;
    display: inline-block;
    width: fit-content;
  }

  .social-media a {
    color: white;
    text-decoration: none;
  }
</style>
