.container {
  box-sizing: border-box;
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px 0;
}

.text-container {
}
.text-header {
  height: 80px;
  flex-direction: row;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.text-header-image {
  width: 80px;
  height: 100%;
}
.text-title {
  font-family: "calibri-regular";
  font-size: 18pt;
  font-weight: bold;
}
.text-section {
  font-size: 14pt;
  letter-spacing: 1.5px;
}
.image-container {
  padding: 1.5rem;
}

.image-header {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
.image-body {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.hidden {
  display: none;
}

.call-contato {
  padding: 10px 10px;
  color: #062440;
  background-color: #ffe255;
  border: 1px solid #062440;
  filter: drop-shadow(5px 5px 0 #062440);
  border-radius: 10px;
  cursor: pointer;
  text-indent: 0;
  font-weight: bold;
  font-style: italic;
}

.center-contact {
  display: flex;
  justify-content: center;
}
